<div class="container h-100 animate__animated animate__fadeIn animate__faster">
  <div class="row h-100">
    <div class="col-6 mx-auto d-flex flex-column justify-content-center">
      <div class="d-flex flex-column">
        <h1 class="text-center animate__animated animate__fast" [ngClass]="{'animate__bounce': toggle}">Welcome to contactApp</h1>
        <br />
        <h3 class="text-center ">Por favor ingresa tu nombre para continuar</h3>

        <form
          class="d-flex flex-column"
          [formGroup]="formGroup"
          (ngSubmit)="onSubmit()"
        >
          <mat-form-field>
            <mat-label>Nombre de usuario</mat-label>
            <input matInput formControlName="userName" />
          </mat-form-field>
          <br />
          <button mat-raised-button color="accent" class="mt-3  shake-slow" type="submit">
            Continuar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
