<mat-card class="d-flex px-5 py-3 contact-container mt-3">
  <div class="thumb mr-5">
    <mat-icon class="fs-1">account_circle</mat-icon>
  </div>

  <div class="description mx-5">
    <p class="contactName">{{contact.contactName}}</p>
    <p class="telephone">{{contact.codeArea}} {{contact.cellphone}}</p>
    <p class="birdthday">{{contact.birdthday}}</p>
  </div>

  <div class="controls ml-auto align-items-center d-flex">
    <button mat-icon-button color="primary" routerLink="/contacts">
      <mat-icon aria-label="contacts" (click)="edit()">edit</mat-icon>
    </button>
    <button mat-icon-button color="primary" routerLink="/contacts">
      <mat-icon aria-label="contacts" (click)="delete()">delete</mat-icon>
    </button>
  </div>
</mat-card>
