<div class="modal-header">
  <h2 class="modal-title" id="modal-basic-title">Salir de la App</h2>
  <button
    type="button"
    class="close d-none"
    aria-label="Close"
    (click)="close()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h3>¿Seguro que quieres salir de la aplicacion?</h3>
  <h4>Todos tus datos seran borrados</h4>
</div>
<div class="modal-footer">
  <button type="button" mat-raised-button class="mx-1" (click)="aceptar()">
    Aceptar
  </button>
  <button
    type="button"
    mat-raised-button
    class="mx-1"
    color="warn"
    (click)="close()"
  >
    Cancel
  </button>
</div>
