<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body position-relative">
  <form class="example-container px-3" [formGroup]="formGroup">
      <mat-form-field appearance="fill">
        <mat-label>Número de identificación</mat-label>
        <input matInput formControlName="dni"/>
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Nombre completo</mat-label>
        <input matInput formControlName="name"/>
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Celular</mat-label>
        <input matInput formControlName="cellphone"/>
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="address"/>
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Cumpleaños</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthday"/>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="save()">
    Save
  </button>
</div>
